:root {
  --fz: 22px;
  --lh: 25px;
  --base-space: 6px;
  --gray: #909090;

  --page-padding: 25px;
  --sidebar-width: 280px;
  --content-width: 50vw;

  --side-gap: calc((100vw - (2 * var(--page-padding)) - var(--sidebar-width) - var(--content-width)) / 2);
  --content-left: calc(var(--page-padding) + 190px + var(--side-gap));
}

@media (max-width: 768px) {
  :root {
    --lh: 21px;
    --fz: 17px;

    --page-padding: var(--lh);
    --sidebar-width: 0px;
    --content-width: calc(100vw - var(--lh) * 2);
    --side-gap: 0px;
    --content-left: var(--page-padding);

    /* optional */
  }
}