@import './variables';

@font-face {
  font-family: 'ABC Walter Alte Normalgrotesk';
  src: url('/fonts/ABCWalterAlte-Normalgrotesk.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fournier';
  src: url('/fonts/FournierMTStd-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'ABC Walter Alte Normalgrotesk', sans-serif;
  font-size: 18px;
  line-height: $lh;
}



em {
  // font-family: 'Times';
  // font-weight: bold;
  font-style: normal;
  // font-size: 1.8rem;
}

.grid {
  opacity: 0;
}

.grid[data-ready="1"] {
  opacity: 1;
  transition: opacity 180ms;
}