/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
li {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
li {
  font-weight: inherit;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer; 
}