---
import Sidebar from "../components/Sidebar.astro";

import "../styles/modern-reset.scss";
import "../styles/global.scss";

const { title = "Katarzyna Lewińska - Costume Designer" } = Astro.props;

import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="preload"
      href="/fonts/ABCWalterAlte-Normalgrotesk.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <ViewTransitions />
    <div class="container">
      <Sidebar />
      <main>
        <slot />
      </main>
    </div>
    <script type="module" src="/scripts/infiniteSnap.js"></script>
    <script is:inline>
      if ("fonts" in document) {
        document.fonts
          .load('500 1em "ABC Walter Alte Normalgrotesk"')
          .then(() => document.body.classList.add("font-ready"))
          .catch(() => {});
      } else {
        // old browsers: just mark ready
        document.body.classList.add("font-ready");
      }
    </script>
  </body>
</html>

<style lang="scss">
  /* variables are now CSS custom properties defined globally (:root) */

  .container {
    padding: var(--page-padding);
    display: flex;
  }

  main {
    width: var(--content-width);
    margin-left: calc(var(--content-left) - var(--page-padding));
  }

  html,
  body {
    scroll-snap-type: y mandatory;
  }
</style>
